<div>
  <shared-header></shared-header>
</div>

<div class="flex flex-col items-center pt-[80px]">
  <div class="absolute w-full h-[430px] top-[80px] bg-black opacity-60
    2xl:max-w-[1536px]
    max-xl:h-[405px]
    max-xls:h-[375px]
    max-lg:h-[350px]
    max-md:h-[300px]
    max-sm:h-[280px]
    max-xs:h-[220px]
    max-xsl:h-[200px]
    "></div>
  <img src="assets/img/portada_muni.jpg" alt="Logo" class="w-full h-[430px]
    2xl:max-w-[1536px]
    max-xl:h-[405px]
    max-xls:h-[375px]
    max-lg:h-[350px]
    max-md:h-[300px]
    max-sm:h-[280px]
    max-sm:hidden
  ">

  <img src="assets/img/portada_muni1.jpg" alt="Logo" class="w-full h-[430px]
    sm:hidden
    max-sm:h-[280px]
    max-xs:h-[220px]
    max-xsl:h-[200px]
  ">

  <div class="absolute px-12 py-12 inline-flex w-full h-[430px]
    2xl:max-w-[1536px]
    max-xl:h-[405px]
    max-xls:h-[375px]
    max-lg:h-[350px]
    max-md:h-[300px] max-md:px-6 max-md:py-6
    max-sm:h-[280px]
    max-xs:h-[220px]
    max-xsl:h-[200px]
    ">
    <div class="w-1/2 max-xlm:pr-8 max-xl:pr-5 max-xmd:w-full">
      <h1 class="text-white font-black py-5
        max-xlm:text-[34px]
        max-xls:text-3xl
        max-xlg:text-[28px]
        max-lg:text-2xl
        max-xmd:text-3xl
        max-md:text-[25px]
        max-sm:text-[24px]
        max-xs:text-4xl max-xs:leading-normal
        ">BIENVENIDOS A HUANCÁN:
      </h1>
      <h2 class="text-white font-semibold text-justify
        max-1xl:text-[27px] max-1xl:leading-[1.625]
        max-xlm:text-[27px] max-xlm:leading-[1.4]
        max-xl:text-[26px]
        max-xls:text-2xl
        max-xlg:text-[23px]
        max-lg:text-[20px] max-lg:leading-[1.65]
        max-xmd:text-2xl max-xmd:leading-[1.45]
        max-md:text-[23px] max-md:leading-[1.45]
        max-sm:text-[20px] max-sm:leading-[1.4]
        max-xs:text-3xl max-xs:leading-normal
        max-xsm:text-[14px]
        max-xss:text-[12px]
        ">Trabajemos unidos por un Huancán limpio, seguro y con calidad de vida.
      </h2>
      <h2 class="text-white font-semibold py-5 text-justify
        max-1xl:text-[27px] max-1xl:leading-[1.625]
        max-xlm:text-[27px] max-xlm:leading-[1.4]
        max-xl:text-[26px]
        max-xls:text-2xl
        max-xlg:text-[23px]
        max-lg:text-[20px] max-lg:leading-[1.65]
        max-xmd:text-2xl max-xmd:leading-[1.45]
        max-md:text-[23px] max-md:leading-[1.45]
        max-sm:text-[20px] max-sm:leading-[1.4]
        max-xs:text-3xl max-xs:leading-normal
        max-xsm:text-[14px]
        max-xss:text-[12px]
        ">Comprometidos por el bienestar de nuestra comunidad y el medio ambiente.
      </h2>
    </div>
    <div class="w-1/2 h-full flex justify-center
      2xl:max-w-[1536px]
      max-xmd:hidden
      ">
      <iframe
        src="https://www.facebook.com/plugins/video.php?height=315&href=https%3A%2F%2Fwww.facebook.com%2F100068879243356%2Fvideos%2F6942111485913781%2F&show_text=false&width=560&t=0"
        width="480"
        height="325"
        style="border:none;overflow:hidden"
        scrolling="no"
        frameborder="0"
        allowfullscreen="true"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        allowFullScreen="true"
        class="py-9 pl-5 max-xl:py-7 max-xl:w-[460px] max-xls:w-[410px] max-lg:w-[360px]">
      </iframe>
    </div>
  </div>
  <div class="
    xmd:hidden max-xmd:bg-[#1b6b86ff]
    max-xmd:w-full max-xmd:h-[420px] max-xmd:flex
    max-xmd:justify-center max-xmd:items-center max-xmd:self-center
    max-sm:h-[400px]
    max-xs:h-[300px]
    max-xsl:h-[270px]
    max-xsm:h-[230px]
    max-xss:h-[170px]
    ">
    <iframe
      src="https://www.facebook.com/plugins/video.php?height=315&href=https%3A%2F%2Fwww.facebook.com%2F100068879243356%2Fvideos%2F6942111485913781%2F&show_text=false&width=560&t=0"
      style="border:none;overflow:hidden"
      scrolling="no"
      frameborder="0"
      allowfullscreen="true"
      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
      allowFullScreen="true"
      class="max-xmd:h-[420px] max-xmd:w-[760px] max-md:h-[360px] max-md:w-[650px] max-sm:h-[260px] max-sm:w-[470px]
      max-xs:h-[230px] max-xs:w-[430px]
      max-xsl:h-[190px] max-xsl:w-[340px]
      max-xsm:h-[170px] max-xsm:w-[300px]
      max-xss:h-[160px] max-xss:w-[280px]
      ">
    </iframe>
  </div>
  <div class="px-20 py-20 space-y-10 2xl:max-w-[1536px] max-lg:px-10 max-lg:py-10">
    <div class="space-y-10">
      <h3 class="text_verde_esmeralda_ecoHuancan font-extrabold text-justify
        max-lg:text-xl
        max-sm:text-left
        max-xs:text-4xl max-xs:leading-normal
        ">NUESTRO COMPROMISO CON LA LIMPIEZA Y CUIDADO DEL MEDIO AMBIENTE DEL DISTRITO DE HUANCÁN
      </h3>
      <h4 class="text-justify max-lg:text-base max-xs:text-3xl max-xs:leading-normal">En la Municipalidad de Huancán, trabajamos diariamente para asegurar una gestión eficiente de los residuos sólidos, promoviendo la sostenibilidad y protegiendo nuestro medio ambiente. Conoce más sobre nuestras iniciativas y cómo puedes participar activamente en la conservación de nuestro distrito.</h4>
    </div>
    <div class="flex max-lg:flex-wrap">
      <!-- Bloque izquierdo -->
      <div class="w-1/2 flex flex-col pl-12
        max-2xl:pl-4
        max-lg:w-full max-lg:items-center max-lg:pl-0
        max-xl:pr-4
        max-xs:pl-0 max-xs:flex max-xs:flex-col max-xs:w-full max-xs:items-center
        ">
        <div class="relative">
          <div class="bg-white border-2 border-[#3ab349ff] absolute w-[520px] h-[390px] rounded
          max-1xl:w-[470px] max-1xl:h-[340px]
          max-xl:w-[350px] max-xl:h-[255px]
          max-xs:w-[336px] max-xs:h-[250px]
          max-xsl:w-[302px] max-xsl:h-[230px] max-xsl:ml-0
          max-xsm:w-[250px] max-xsm:h-[188px]
          "></div>
          <div class="bg_verde_esmeralda_ecoHuancan absolute w-[520px] h-[390px] ml-[40px] mt-[40px] rounded
          max-1xl:w-[470px] max-1xl:h-[340px]
          max-xl:w-[350px] max-xl:h-[255px] max-xl:ml-7 max-xl:mt-7
          max-xs:w-[336px] max-xs:h-[250px] max-xs:ml-8
          max-xsl:w-[302px] max-xsl:h-[230px]
          max-xsm:w-[250px] max-xsm:h-[188px]
          ">
          </div>
          <img src="assets/img/equipo_recojo_residuos.jpg" alt="Imagen" width="440"
            class="relative ml-20 mt-[80px] border-[4px] rounded border-white
            max-1xl:w-[390px] max-1xl:h-[260px]
            max-xl:w-[295px] max-xl:h-[200px] max-xl:ml-14 max-xl:mt-14
            max-xs:w-[308px] max-xs:h-[220px] max-xs:ml-[30px] max-xs:mt-[29px]
            max-xsl:w-[274px] max-xsl:h-[202px]
            max-xsm:w-[222px] max-xsm:h-[160px]
            ">
        </div>
        <h6 class="py-5 mt-10 mr-[84px] text-justify max-lg:mr-0 max-xs:text-3xl max-xs:leading-normal max-xsl:text-2xl">Nuestros equipos trabajan incansablemente para recoger todos los residuos del distrito de Huancán, asegurando un lugar más limpio.</h6>
      </div>
      <!-- Bloque derecho -->
      <div class="w-1/2 flex flex-col items-center
        max-lg:w-full
        max-xl:pr-4
        max-xs:pl-0 max-xs:flex max-xs:flex-col max-xs:w-full max-xs:items-center
        ">
        <div class="relative">
          <div class="bg-white border-2 border-[#3ab349ff] absolute w-[520px] h-[390px] rounded
          max-1xl:w-[470px] max-1xl:h-[340px]
          max-xl:w-[350px] max-xl:h-[255px]
          max-xs:w-[336px] max-xs:h-[250px] max-xs:mt-6
          max-xsl:w-[302px] max-xsl:h-[230px]
          max-xsm:w-[250px] max-xsm:h-[188px]
          "></div>
          <div class="bg_verde_esmeralda_ecoHuancan absolute w-[520px] h-[390px] ml-[40px] mt-[40px] rounded
          max-1xl:w-[470px] max-1xl:h-[340px]
          max-xl:w-[350px] max-xl:h-[255px] max-xl:ml-7 max-xl:mt-[26px]
          max-xs:w-[336px] max-xs:h-[250px] max-xs:ml-8
          max-xsl:w-[302px] max-xsl:h-[230px]
          max-xsm:w-[250px] max-xsm:h-[188px]
          "></div>
          <img src="assets/img/recojo_residuos_reciclables.jpg" alt="imagen" width="440"
            class="relative ml-20 mt-[80px] border-[4px] rounded border-white
            max-1xl:w-[390px] max-1xl:h-[260px]
            max-xl:w-[295px] max-xl:h-[200px] max-xl:ml-14 max-xl:mt-14
            max-xs:w-[308px] max-xs:h-[220px] max-xs:ml-[30px] max-xs:mt-[41px]
            max-xsl:w-[274px] max-xsl:h-[202px]
            max-xsm:w-[222px] max-xsm:h-[160px]
            ">
        </div>
        <h6 class="ml-[82px] mr-10 py-5 mt-10 text-justify max-lg:mr-0 max-lg:ml-0 max-xs:text-3xl max-xs:leading-normal max-xsl:text-2xl">Fomentando la segregación de residuos y promoviendo una cultura ambiental dentro de los pobladores del distrito de Huancán.</h6>
      </div>
    </div>
    <hr class="border-2">
    <div class="">
      <h3 class="text_azul_crayola_ecoHuancan font-extrabold max-lg:text-xl max-xs:text-4xl max-xs:leading-normal">¿Cómo debemos sacar la basura?</h3>
      <ul class="list-disc mt-8 ml-8 space-y-4 max-xs:space-y-8">
        <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl max-xs:leading-normal">Se deberá colocar los residuos sólidos (basura) generados en depósitos de plásticos o bolsas, las mismas que serán entregadas al paso de la unidad recolectora.</li>
        <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl max-xs:leading-normal">Las viviendas que cuenten con cestos metálicos, deberán depositar la basura media hora antes del horario establecido en su zona para el paso de la unidad recolectora.</li>
        <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl max-xs:leading-normal">Los edificios multifamiliares o condominios, deberán tener depósitos de basura con tapa, que estarán ubicados dentro de estos y deberán ser sacadas al paso de la unidad recolectora.</li>
        <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl max-xs:leading-normal">Deposite los residuos sólidos de la poda de sus jardines en los puntos de acopio de maleza autorizados por la municipalidad.</li>
      </ul>
    </div>
    <hr class="border-2">
    <div class="flex flex-row items-center justify-between max-xl:flex-col">
      <div>
        <h3 class="text_azul_crayola_ecoHuancan font-extrabold max-lg:text-xl max-xs:text-4xl max-xs:leading-normal">¿Qué materiales separan o segregan para su recolección?</h3>
        <h4 class="text_azul_crayola_ecoHuancan mt-8 font-bold max-lg:text-lg max-xs:text-3xl">Residuos Orgánicos</h4>
        <ul class="list-disc mt-5 ml-8 space-y-4 max-xs:space-y-8">
          <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl max-xs:leading-normal">Residuos de alimentos (restos de comida, cascaras, restos de frutas, verduras, hortalizas y otros similares)</li>
          <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl max-xs:leading-normal">Residuos de maleza y poda (restos de flores, hojas, tallos, Grass, otros similares)</li>
          <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl max-xs:leading-normal">Otros orgánicos (estiércol de animales menores, huesos y similares)</li>
        </ul>
        <h4 class="text_azul_crayola_ecoHuancan mt-5 font-bold max-lg:text-lg max-xs:text-3xl">Residuos Inorganicos</h4>
        <div class="flex flex-col">
          <div class="max-xs:w-full">
            <h4 class="text_azul_crayola_ecoHuancan py-4 font-medium max-lg:text-xl max-md:text-lg max-xs:py-8 max-xs:text-3xl">Papel</h4>
            <ul class="list-disc ml-8 space-y-1 max-xs:space-y-3">
              <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl">Blanco</li>
              <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl">Periódico</li>
              <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl">Mixto (páginas de cuadernos, revistas, otros similares)</li>
            </ul>
          </div>
          <div class="max-xs:w-full">
            <h4 class="text_azul_crayola_ecoHuancan py-4 font-medium max-lg:text-xl max-md:text-lg max-xs:py-8 max-xs:text-3xl">Cartón</h4>
            <ul class="list-disc ml-8 space-y-1 max-xs:space-y-3">
              <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl">Blanco (liso y cartulina)</li>
              <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl">Marrón (Corrugado)</li>
              <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl">Mixto (tapas de cuaderno, revistas, otros similares)</li>
            </ul>
          </div>
          <div class="max-xs:w-full">
            <h4 class="text_azul_crayola_ecoHuancan py-4 font-medium max-lg:text-xl max-md:text-lg max-xs:py-8 max-xs:text-3xl">Plástico</h4>
            <ul class="list-disc ml-8 space-y-1 max-xs:space-y-3">
              <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl max-xs:leading-normal">Tereftalato de polietileno (aceite y botellas de bebidas y agua, entre otros similares)</li>
              <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl max-xs:leading-normal">Polietileno de alta densidad (botellas de lácteos, shampoo, detergente líquido, suavizante)</li>
              <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl max-xs:leading-normal">Polipropileno (baldes, tinas, rafia, estuches negros de CD, tapas de bebidas, táper)</li>
              <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl max-xs:leading-normal">Poliestireno (tapas cristalinas de CD, micas, vasos de yogurt, cubetas de helado, envases de lavavajilla)</li>
              <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl max-xs:leading-normal">Policloruro de vinilo (Tuberías de agua, desagüe y eléctricas)</li>
            </ul>
          </div>
          <div class="max-xs:w-full">
            <h4 class="text_azul_crayola_ecoHuancan py-4 font-medium max-lg:text-xl max-md:text-lg max-xs:py-8 max-xs:text-3xl">Metales</h4>
            <ul class="list-disc ml-8 space-y-1 max-xs:space-y-3">
              <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl">Latas-hojalata (latas de leche, atún, entre otros)</li>
              <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl">Acero</li>
              <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl">Fierro</li>
              <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl">Aluminio</li>
              <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl">Otros Metales</li>
            </ul>
          </div>
          <div class="max-xs:w-full">
            <h4 class="text_azul_crayola_ecoHuancan py-4 font-medium max-lg:text-xl max-md:text-lg max-xs:py-8 max-xs:text-3xl">Vidrio</h4>
            <ul class="list-disc ml-8 space-y-1 max-xs:space-y-3">
              <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl">Transparente</li>
              <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl">Otros colores (marrón – ámbar, verde, azul, entre otros)</li>
              <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl">Otros (vidrio de ventana)</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="max-xl:mt-8">
        <img src="assets/img/residuos_organico_inorganico.jpg" alt="Residuos organico e inorganico" class="w-[500px] px-2 max-xl:w-[300px]">
      </div>
    </div>
    <hr class="border-2">
    <div class="flex flex-wrap overflow-hidden">
      <div class="w-1/2 overflow-hidden pr-5 max-lg:w-full max-lg:pr-0">
        <h3 class="text_azul_crayola_ecoHuancan font-extrabold text-justify max-lg:text-xl max-sm:text-left max-xs:text-4xl max-xs:leading-normal">HORARIO DE RECOLECCIÓN DE BASURA</h3>
        <ul class="list-disc ml-8 mt-6 space-y-2 max-xs:space-y-4 max-xs:mt-12 max-xs:ml-9">
          <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl max-xs:leading-normal">El horario de recolección de residuos solidos son de lunes a domingo</li>
          <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl max-xs:leading-normal">Las horas de recolección de lunes a viernes es de 5:00 A.M. 1:00 P.M.</li>
          <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl max-xs:leading-normal">Las horas de recolección de sábado y domingo es de 5:00 A.M. 9:00 A.M.</li>
          <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl max-xs:leading-normal">El horario de recolección de residuos orgánicos es de lunes a viernes de 3:00 P.M. a 6:00 P.M.</li>
          <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl max-xs:leading-normal">El recojo de residuos inorgánicos es cada semana.</li>
          <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl max-xs:leading-normal">Los residuos deben estar correctamente segregados según nuestras directrices de reciclaje.</li>
          <li class="px-1 text-lg text-justify max-lg:text-base max-xs:text-3xl max-xs:leading-normal">Coloque los residuos fuera de su domicilio antes de su hora de recolección.</li>
        </ul>
      </div>
      <!--imagen-->
      <div class="w-1/2 h-[480px] flex items-center justify-center flex-col max-lg:w-full max-lg:h-[350px] max-xs:h-[280px] max-xs:pr-7 max-xsm:h-[230px]">
        <div class="relative">
          <div class="bg-white border-2 border-[#1b6b86ff] absolute w-[520px] h-[390px] rounded
            max-2xl:w-[450px] max-2xl:h-[320px]
            max-xl:w-[350px] max-xl:h-[280px]
            max-xs:w-[336px] max-xs:h-[250px]
            max-xsl:w-[302px] max-xsl:h-[230px]
            max-xsm:w-[250px] max-xsm:h-[188px]
          "></div>
          <div class="bg_azul_crayola_ecoHuancan absolute w-[520px] h-[390px] ml-10 mt-10 rounded
            max-2xl:w-[450px] max-2xl:h-[320px] max-2xl:ml-8 max-2xl:mt-8
            max-xl:w-[350px] max-xl:h-[280px] max-xl:ml-7 max-xl:mt-7
            max-xs:w-[336px] max-xs:h-[250px]
            max-xsl:w-[302px] max-xsl:h-[230px]
            max-xsm:w-[250px] max-xsm:h-[188px]
            "></div>
          <img src="assets/img/compactador_residuos.jpg" alt="imagen" width="440"
            class="relative ml-20 mt-[80px] rounded border-[4px] border-white
            max-2xl:w-[388px] max-2xl:h-[260px] max-2xl:ml-16 max-2xl:mt-16
            max-xl:w-[295px] max-xl:h-[225px] max-xl:ml-14 max-xl:mt-14
            max-xs:w-[308px] max-xs:h-[220px]
            max-xsl:w-[274px] max-xsl:h-[202px]
            max-xsm:w-[222px] max-xsm:h-[160px]
            ">
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <shared-footer></shared-footer>
</div>
